<div class="toolbar">
  <mat-toolbar class="toolbar">
    <button  mat-button [matMenuTriggerFor] ="menuHome">
      <mat-icon>list</mat-icon>
    </button>
    <mat-menu #menuHome="matMenu" yPosition="below" xPosition="after">
      <button mat-menu-item (click)="stayHome()">
        Home
      </button>
      <button mat-menu-item (click)="reservations()" >
        Prenotazioni
      </button>
      <button mat-menu-item (click)="boxPublished()" >
        Box pubblicate
      </button>
      <button mat-menu-item (click)="backHome()">
        Logout
      </button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
    <nav>
      <a>
        <button mat-button class="accedi">Ciao!</button>
      </a>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<!--                           -->
<h3> Box pubblicate: </h3> <br> <br>
<div class="searh-boxList">
  <ul *ngFor="let box of boxes | async" >
      <li class="single-box" >
        <label class="text">{{box.type}} - {{box.owner}}</label> <button class="button"disabled><mat-icon>create</mat-icon></button>  <button class="button1" (click)="deleteBox(box.id)"><mat-icon>delete_outline</mat-icon></button>
      </li>
  </ul>
</div>
