<mat-toolbar class="toolbar">
  <button  mat-button [matMenuTriggerFor] ="menuHome">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menuHome="matMenu" yPosition="below" xPosition="after">
    <button mat-menu-item (click)="backHome()">
      Home
    </button>
    <button mat-menu-item (click)="register()" routerLink="home/register">
      Registrazione
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button>
    <mat-icon (click)="searchUsers()">search</mat-icon>
  </button>
  <nav>
    <a routerLink="login">
      <button mat-button class="accedi">Accedi</button>
    </a>
  </nav>
</mat-toolbar>

<router-outlet ></router-outlet>

<div class="access">
  <img class="iconS"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLOCkBYUTgHxfZMPf7Aj-CiFd5Vx8yWFtvs1iCh8ugnve_o9VBIiSAXPj0VH3iPjSLv6Y&usqp=CAU">
</div>
<p>Benvenuto!<br>Accedi alla tua area personale</p>
<div class="form-email">
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="prova@gmail.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
</div>

<div class="form-password">
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>
<p  (click)="register()">Non sei ancora registrato? <span class="space"></span> Hai dimenticato la password?</p>

<div class="accessoB" >
  <!--<img src="assets/cdnlogo.com_google-icon.svg" (click)="loginWithGoogle()">-->
  <div class="" id="google-button"></div>.
  <button class="accesso"  (click)="checkAccessWorkingAcivity()" mat-raised-button> Accedi </button>
</div>



