<div class="toolbar">
<mat-toolbar class="toolbar">
  <button  mat-button [matMenuTriggerFor] ="menuHome">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menuHome="matMenu" yPosition="below" xPosition="after">
    <button mat-menu-item (click)="stayHome()">
      Home
    </button>
    <button mat-menu-item (click)="reservations()" >
      Prenotazioni
    </button>
    <button mat-menu-item (click)="boxPublished()" >
      Box pubblicate
    </button>
    <button mat-menu-item (click)="backHome()">
      Logout
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button>
    <mat-icon>search</mat-icon>
  </button>
  <nav>
    <a>
      <button mat-button class="accedi">Ciao!</button>
    </a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
</div>
<!--                           -->
<div class="page">
  <h3> Nuova box: </h3>
  <div class="form">
    <div class="form-type">
      <label>Tipologia:</label>
      <input class="input-type" id="type" [(ngModel)]="box.type" required name="type">
    </div>
    <br>
    <div class="form-weight">
      <label>Peso complessivo:</label>
      <input class="input-weight" id="weight" [(ngModel)]="box.weight" required name="weigth">
    </div>
    <br>
    <div class="form-details">
      <label>Dettagli contenuto:</label>
      <input class="input-details" id="details" [(ngModel)]="box.description" required name="details">
    </div>
    <br>
    <div class="form-phone">
      <label>Numero di telefono</label>
      <input class="input-phone" id="phone" required name="phone">
    </div>
    <br>
    <div class="form-email">
      <label>Email:</label>
      <input class="input-email" id="email" required name="email">
    </div>
    <br>
    <div class="form-owner">
      <label>Sede del ritiro:</label>
      <input class="input-owner" id="owner" [(ngModel)]="box.owner" required name="owner">
    </div>
  </div>

  <div class="buttonCreateBox">
    <button class="create" (click)="addBox()">Crea Box</button>
  </div>
</div>


