mat-toolbar toolbar{
  height: 60px;
  color: darkgreen;
  display: initial;
}

.accedi{
  color: darkgreen;
}
.spacer{
  flex: 1 1 auto;
}

/*-----------------------*/
h3{
  position:absolute;
  top:130px;
  left:39px;
  color: darkgreen;
  font-size: 24px;
}
.form{
  position:absolute;
  top:210px;
  left:355px;
  color: black;
  font-size: 24px;
}
.form-type{
  display: flex;
  gap: 72px;
}
.input-type {
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.form-weight{
  display: flex;
  gap: 30px;
}
.input-weight{
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.form-details{
  display: flex;
  gap: 26px;
}
.input-details{
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.form-phone{
  display: flex;
  gap: 23px;
}
.input-phone{
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.form-email{
  display: flex;
  gap: 106px;
}
.input-email{
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.form-owner{
  display: flex;
  gap: 59px;
}
.input-owner{
  min-width: 600px;
  max-width: 700px;
  width: 100%;
}
.buttonCreate{
  display: flex;
  justify-content: flex-end;
}
.create{
  color: white;
  background: darkgreen;
  font-size: initial;
  position:absolute;
  bottom: 87px;
  left: 1091px;
}

