h1 {
  color: darkgreen;
  font-size: 24px;
}
.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
}
.publish{
  color: white;
  background: darkgreen;
}
.question{
  color: white;
  background: green;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

