<h1 mat-dialog-title>Riepilogo box:</h1>
<div mat-dialog-content>
  Tipologia:
</div>
<div mat-dialog-content>
  Peso complessivo:
</div>
<div mat-dialog-content>
  Dettagli contenuto:
</div>
<div mat-dialog-content>
  Numero di telefono:
</div>
<div mat-dialog-content>
  E-mail:
</div>
<div mat-dialog-content>
  Sede del ritiro:
</div>
<div mat-dialog-content>
  <p class="question">Sei sicuro di voler confermare la creazione della box?</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Indietro</button>
  <button class=" publish"mat-button mat-dialog-close>Pubblica</button>
</div>
