<mat-toolbar class="toolbar">
  <button  mat-button [matMenuTriggerFor] ="menuHome">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menuHome="matMenu" yPosition="below" xPosition="after">
    <button mat-menu-item  (click)="backHome()">
      Home
    </button>
    <button mat-menu-item routerLink="register">
      Registrazione
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button>
    <mat-icon (click)="searchUsers()">search</mat-icon>
  </button>
  <nav>
    <a (click)="login()">
      <button mat-button class="accedi">Accedi</button>
    </a>
  </nav>
</mat-toolbar>

<h3> Registrazione utente: </h3> <br> <br>
<div [hidden]="submitted" class="table" >

    <div class="form-group">
      <table>
        <tr>
          <td>
            <div class="form-name">
              <label >Nome</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput type="text" name="name "required [(ngModel)]="user.name" />
              </mat-form-field>
            </div>
          </td>

          <td>
            <div class="form-password">
              <label >Password</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput placeholder="******"[(ngModel)]="user.password"  name="password" required />
              </mat-form-field>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-nameCEO">
              <label >CEO</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput [(ngModel)]="user.nameCEO" required name="nameCEO"/>
              </mat-form-field>
            </div>

          </td>

          <td>
            <div class="form-address">
              <label >Indirizzo</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput  [(ngModel)]="user.address" name="address" required />
              </mat-form-field>
            </div>
          </td>
        </tr>

        <tr>
          <td>

            <div class="form-email">
              <label >Email</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput placeholder="prova@gmail.com" name="email" [(ngModel)]="user.email" required />
              </mat-form-field>
            </div>

          </td>
          <td>
            <div class="form-phone">
              <label >Telefono</label>
              <mat-form-field appearance="fill">
                <mat-label> </mat-label>
                <input matInput  [(ngModel)]="user.phone" name="phone" required />
              </mat-form-field>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-type">
              <label >Tipologia</label>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Ente benefico</mat-radio-button>
                <mat-radio-button value="2">Attività lavorativa</mat-radio-button>
              </mat-radio-group>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <div class="buttonRegistra">
    <button class="registrati"  routerLink="home" mat-stroked-button (click)="openSnackBar()" (click)="onSubmit()" >Registrati</button>
  </div>
</div>


