mat-toolbar-toolbar{
  height: 60px;
  color: darkgreen;
  display: initial;
}

.accedi{
  color: darkgreen;
}
.spacer{
  flex: 1 1 auto;
}

/*-----------------------*/
.table{
  display: flex;
  justify-content: center;
  font-size: larger;
}
tr{
  display: flex;
  gap: 52px;
}

h3{
  position:absolute;
  top:130px;
  left:39px;
  color: darkgreen;
  font-size: 24px;
}
.buttonRegistra{
  display: flex;
  justify-content: flex-end;
}
.registrati{
  color: white;
  background: darkgreen;
  font-size: initial;
  position:absolute;
  bottom: 167px;
  left: 1104px;
}

.form-group{
  display: flex;
  justify-content: center;
  position:absolute;
  bottom: 210px;
}
.form-name{
  display: flex;
  justify-content: center;
  gap: 90px;
}

.form-nameCEO{
  display: flex;
  justify-content: center;
  gap: 90px;
}

.form-email{
  display: flex;
  justify-content: center;
  gap: 90px;
}

.form-address{
  display: flex;
  justify-content: center;
  gap: 90px;
}

.form-password{
   display: flex;
   justify-content: center;
   gap: 90px;
 }

.form-phone{
  display: flex;
  justify-content: center;
  gap: 90px;
}

.form-type{
  display: flex;
  justify-content: center;
  gap: 90px;
}
.mat-radio-group{
  display: flex;
  gap: 30px;
}


