mat-toolbar toolbar{
  height: 60px;
  color: darkgreen;
  display: initial;
}

.accedi{
  color: darkgreen;
}
.spacer{
  flex: 1 1 auto;
}

/*-----------------------*/
h3{
  position:absolute;
  top:130px;
  left:39px;
  color: darkgreen;
  font-size: 24px;
}
.searh-boxList{
  position: absolute;
  top: 183px;
  left: 44px;
}
ul {
  list-style-type: none;
  display: inline-block;
}

.single-box{
  float: left;
  /*min-width: 1364px;
  max-width: 900px;*/
}
.text{
  font-size: large;
}
img{
  width: 150px;
  height: auto;
}
